/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    background-color: #f4f4f4;
  }
  
  /* Navbar */
  .navbar {
    background: #5fb2b2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 50px;
    color: white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
  }
  
  /* Logo */
  .logo {
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 3px;
    cursor: pointer;
  }
  
  /* Links */
  .nav-links {
    list-style: none;
    display: flex;
    gap: 35px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    font-size: 0.95rem;
    font-weight: 500;
    transition: 0.3s ease;
    position: relative;
  }
  
  /* Underline hover animation */
  .nav-links a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background: white;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
  }
  
  .nav-links a:hover::after {
    width: 100%;
  }
  
  /* Contact Button */
  .btn-contact {
    background: white;
    color: #5fb2b2;
    padding: 8px 22px;
    border-radius: 25px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s ease;
  }
  
  .btn-contact:hover {
    background: #e0f2f2;
    transform: scale(1.05);
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .nav-links {
      display: none;
    }
  }